{% load static %}
{% load crispy_forms_tags %}

{% block contain %}

<div class="containar">
    {% for data in get_data %}
        <li><label>username:{{data.username}}</label></li>
        <li><label>password:{{data.password}}</label></li>
    {% endfor %}

</div>


{% endblock contain %}