<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   
</head>
<body>
        

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <img src="{% static 'images/sapas-telimetics.png' %}" alt="" style="width:75px">
      <ul class="navbar-nav navbar-primary">
        <li class="nav-item active ">
          <a class="nav-link px-5 text-info" href="{% url 'home' %}">Home</a>
        </li>
        {% if user.is_authenticated %} 
        <li class="nav-item">
          <a class="nav-link px-5 text-info" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        
        <li class="nav-item">
          <a class="nav-link px-5 text-info" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item nav-info">
          <a class="nav-link px-5 text-info" href="{% url 'signup' %}">Signup</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
   
 
  {% block content %}
  <div class="card w-25 mx-auto mt-4">
    <div class="card-title bg-secondary"">
      <h3 class=" text-center bg-info ">Welcome</h3>
    </div>
    <div class="card-body">
      <p class="text-center text-info ">
        SP Telematics Product
      </p>
    </div>
  </div>
  {% endblock content %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>