{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content%}

<div class="container mt-4">
    <div class="card bg-light border border-info">
        <div class="card-title">
            <h3 class=" text-center bg-info">Registeration Form</h3> 
        </div>
        <div class="card-body">
            <form action="{% url 'signup'%}" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <input class="btn btn-success" type="submit" value="submit">
            </form>
        </div>
    </div>  
</div>

{% endblock content %}